@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Spectral&family=Tinos:wght@700&display=swap');
header {
    width:100%;
    background-color: black;
    left:0px;
    position: fixed;
}
a {
    text-decoration: none;
    color:white;
}
.menu {
    margin-left: 84%;
    width:100%;
    font-size: 30px;
    font-family: 'Spectral', serif;

}
.download {
    margin-left: 50px;
}

.logo {
    left:0px;
    margin-left: 0px;
    top:0px;
    position: fixed;
    font-size: 40px;
    font-family: 'Neucha', cursive;


}
.menu_text {
    margin-top: 300px;
    font-family: 'Tinos', serif;
    font-size:64px;
    text-align: center;

}
* {
    left:0px;
    margin-left: 0px;
    top:0px;    
    margin: 0;
    padding: 0;
}
.down_text {
    text-align: center;
    position: relative;
    font-size: 24px;

}
.load {
    margin-top: 60px;
    font-family: 'Tinos', serif;
    background-color: #408AD2;
    border: 0px;
    width:260px;
    height: 75px;
    font-size: 24px;
    color:white;
    left:840px;
    position: relative;
}
body {
    background-color: #679ED2    ;
}